/* Thiết lập chung */
body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: #f4f4f9;
}

.container {
  text-align: center;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #333;
}

/* Bàn cờ */
.board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  /* gap: 5px; */
  margin: 20px auto;
  /* border: 3px solid #000; */
  width: 315px;
}

.cell {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4em;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease;
  border: 1px solid #bdc3c7;
  color: #2c3e50;
}

.cell:hover {
  background-color: #e8f6fd;
}

/* Ký hiệu */
.cell.X {
  color: #e74c3c;
}

.cell.O {
  color: #000;
}

/* Nút Bắt đầu */
#start-btn {
  padding: 10px 20px;
  background-color: #27ae60; /* Màu xanh lá cây */
  color: black;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
  margin-right: 10px;
}

#start-btn:hover:not([disabled]) {
  background-color: #2ecc71;
}

/* Nút Chơi Lại */
#reset-btn {
  padding: 10px 20px;
  background-color: #3498db;
  font-weight: 700;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

#reset-btn:hover:not([disabled]) {
  background-color: #2980b9;
}

/* Kiểu cho các nút khi bị disabled */
#start-btn[disabled],
#reset-btn[disabled] {
  opacity: 0.6;
  cursor: not-allowed;
}

/* Đổ màu nền theo đường chiến thắng */
.winning-cell {
  background-color: cyan !important; /* Màu vàng nổi bật */
  color: white !important;
  transform: scale(1.05); /* Hiệu ứng nhẹ */
}

/* Thông báo trạng thái */
#status {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #333;
  font-weight: bold;
}
