* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
body {
  background-color: #2b2b2b;
}
a {
  text-decoration: none;
  color: #fff;
}
li {
  list-style: none;
  padding: 10px;
  font-size: 24px;
  font-weight: 700;
}
.header {
  display: flex;
  background-color: #2b2b2b;
  justify-content: flex-end;
  align-items: center;
  gap: 50px;
  height: 100px;
}
.navigation {
  display: flex;
}
.sign-up {
  background-color: #a259ff;
  align-items: center;
  display: flex;
  width: 170px;
  height: 60px;
  border-radius: 20px;
  font-size: 16px;
  gap: 12px;
  padding: 0 30px;
  margin-right: 30px;
  color: #fff;
  font-weight: 700;
}
.logo {
  flex-grow: 1;
}

.form1 img {
  width: 610px;
  height: 100%;
}
.body {
  display: flex;
}

.form2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* align-items: center; */
  background-color: #2b2b2b;
  width: 100%;
  gap: 30px;
  font-size: 24px;
  color: #fff;
  padding-left: 200px;
}

input {
  width: 450px;
  height: 50px;
  border-radius: 20px;
  text-align: center;
  font-size: 20px;
}

input:focus-visible {
  border: none;
  /* background: none; */
  outline: none;
}

.create {
  background-color: #a259ff;
  width: 450px;
  height: 50px;
  border-radius: 20px;
  color: #fff;
  font-weight: 700;
  font-size: 20px;
}
.title {
  padding-top: 20px;
}
.footer {
  display: flex;
  background-color: #2b2b2b;
  padding-top: 20px;
  align-items: center;
  justify-content: flex-start;
  gap: 150px;
  padding-left: 150px;
  font-size: 20px;
  color: #fff;
}

.footer p {
  /* margin: 30px; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 20px 0px;
}
.subcribe {
  background-color: #a259ff;
  width: 200px;
  height: 50px;
  border-radius: 20px;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  /* position: absolute; */
  border: none;
}
.account {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.email-submit {
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.email-footer {
  border-radius: 0;
  border: none;
  background: none;
  flex-grow: 1;
  width: auto;
}
@media only screen and (max-width: 1100px) {
  .footer {
    flex-direction: column;
  }
}

.title-footer {
  display: inline-block;
}
