@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 16px;
  font-family: "Mulish", sans-serif;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

.btn {
  padding: 18px 28px;
  text-transform: uppercase;
  color: #fff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.btn-primary {
  background-color: #0f0f34;
  color: #fff;
}

.btn-secondary {
  background-color: transparent;
  color: #0f0f34;
  font-weight: 600;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 64px 40px;
  background-color: #f8f9ff;

  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
  }

  .menu > li {
    position: relative;
    margin-right: 12px;
    transition: all ease-in-out 0.3s;
    -webkit-transition: all ease-in-out 0.3s;
    -moz-transition: all ease-in-out 0.3s;
    -ms-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
    a {
      padding: 4px;
    }
  }

  .menu > li:hover .sub-menu {
    display: block;
    text-align: center;
  }

  .sub-menu {
    display: block !important;
  }

  .sub-menu {
    display: none;
    position: absolute;
  }
}
