* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 100px;
  text-align: center;
  margin: 100px auto 24px;
}

form {
  width: 328px;
  height: auto;
  margin: 0 auto;
  border: 1px solid rgb(88, 88, 88);
  box-shadow: 10px 10px 10px 12px rgba(0, 0, 0, 0.3);
  padding: 24px;
  border-radius: 8px;
}

label,
input,
button {
  width: 100%;
  display: block;
}

.label-password {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
input {
  margin-bottom: 8px;
}
button {
  background-color: hsl(221, 100%, 50%);
  color: white;
  padding: 5px;
  border-radius: 8px;
  font-weight: 1000;
  margin-bottom: 20spx;
}

input {
  border-radius: 4px;
  border: 1px solid gray;
  padding: 10px;
}
p {
  margin-top: 12px;
}
