* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: sans-serif;
  /* font-size: 16px; */
  font-weight: 700;
  background: #2b2b2b;
  color: #fff;
}

.logo {
  color: #fff;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  gap: 12px;
  font-size: 20px;
}

li {
  list-style-type: none;
  padding: 20px;
}

a {
  text-decoration: none;
  color: #fff;
}

.logo {
  flex-grow: 1;
  margin-left: 30px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.nav-menu {
  display: flex;
  gap: 30px;
  align-items: center;
  margin-right: 50px;
}

.logo-user {
  background-color: #a259ff;
  width: 152px;
  height: 60px;
  border: none;
  border-radius: 20px;
  gap: 12px;
  color: #fff;
  justify-content: center;
  align-items: center;
  display: flex;
  padding-right: 20px;
  font-weight: 700;
  margin-right: 35px;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 40%;
}

.title {
  font-size: 67px;
}

.content-title {
  font-size: 22px;
  font-weight: 100;
}

.started {
  width: 224px;
  height: 60px;
  border: none;
  border-radius: 20px;
  background-color: #a259ff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #fff;
  font-weight: 700;
}

.stats-container {
  display: flex;
  align-items: center;
  gap: 20px;
  /* margin-top: 20px; */
  padding-top: 20px;
  font-family: sans-serif;
}

.body {
  display: flex;
  justify-content: center;
  margin: 50px 30px;
  align-items: center;
  gap: 100px;
  width: 100%;
}

.text-1 {
  font-size: 22px;
  font-weight: 600;
}

.overplay-text {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 20px;
  background-color: #333;
  position: absolute;
  bottom: -25px;
  left: 0;
  width: 100%;
  border-radius: 0 0 20px 20px;
}

.img-container {
  width: 510px;
  height: fit-content;
  position: relative;
  border-radius: 20px;
  /* display: flex; */
  /* flex-direction: column; */
}

.info {
  display: flex;
  align-items: center;
  gap: 10px;
}
